/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
/*	font-family: 'Poppins', sans-serif;*/
/*    font-family: 'Cormorant Garamond', serif;*/
  -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
.font-normal-cursive {
	font-family: 'Cormorant Garamond', serif;
	/*font-family: var(--bs-font-sans-serif);*/
	font-style: italic;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #000;
}

.cover-container {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.no-webp .cover-container {	
  background: url("sj.jpg") no-repeat center center / cover;
}
.webp .cover-container {
  background: url("sj.webp") no-repeat center center / cover;
}

.cover-container main {
	width: 80vw;
    z-index: 1;
}
.oculto {
	display: none !important;
}
/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.text3d {
	/*text-shadow: 0px 1px 0px #C7C8CA, 0px 2px 0px #B1B3B6, 0px 3px 0px #9D9FA2, 0px 4px 0px #8A8C8E, 0px 5px 0px #77787B, 0px 6px 0px #636466, 0px 7px 0px #4D4D4F, 0px 8px 7px #001135;*/
	text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
	color: #fff;
	font-family: 'Great Vibes', cursive;
}

.title {
    font-size: 7vw;
    margin-bottom: 1vw;
	color: #f67e7d;
	}

@media (max-width: 700px) {
	.title{
		font-size: 9vw;
	}
}
@media (min-width: 1200px) {
  .title{
	font-size: 5vw;
  }
}	

main h1{
	font-family: 'Great Vibes', cursive;
	font-size: 9vw;
    margin: 1vw 0;
}
@media (max-width: 767.98px) {
	main h1{
		font-size: 12vw;
	}
}

#timer {
    width: 60%;
    margin: 10px auto;
}
#timer .time:first-child {
    border-left: transparent;
}
#timer .time {
    width: 25%;
    font-size: 40px;
    font-weight: 500;
    border-left: 1px solid rgba(250, 250, 250, 0.15);
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
@media (max-width: 991.98px) {
	#timer {
		width: 90%;
	}
	#timer .time {
		font-size: 30px;
	}
}
#timer .time span { 
	font-size: 2.3vw;
	display: block;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
	text-transform: uppercase;
}
@media (min-width: 600px) {
  #timer .time span {
     font-size: 14px;
  }
}
@media (min-width: 1200px) {
  #timer .time span {
     font-size: 16px;
  }
}

.subheading {
    font-size: 2.5vw;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 7px;
    position: relative;
}
@media (min-width: 600px) {
  .subheading {
     font-size: 2.2vw;
  }
}
@media (min-width: 1200px) {
  .subheading {
     font-size: 1.7vw;
  }
}
.subheading:before {
    position: absolute;
    top: 50%;
    left: -150px;
    content: '';
    width: 130px;
    height: 2px;
    background: #fff;
}
.subheading:after {
    position: absolute;
    top: 50%;
    right: -140px;
    content: '';
    width: 130px;
    height: 2px;
    background: #fff;
}
@media (max-width: 767.98px) {
	.subheading:after, .subheading:before {
		display: none;
	}
}
.rose {
    background: url("rose.svg") no-repeat center/contain;
	width: 13vw;
	height: 10vw;
	margin: 0 auto;
}
@media (max-width: 767.98px) {
	
.rose {
	width: 20vw;
	height: 15vw;
}
}

.anillos {
	background: url("anillo.jpg") no-repeat center center / cover;
	
  text-shadow: 0 .05rem .1rem rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 5rem rgba(255, 255, 255, .5);
}
.no-webp .anillos {	
  background: url("anillo.jpg") no-repeat center center / cover;
}
.webp .anillos {
  background: url("anillo.webp") no-repeat center center / cover;
}

.no-webp .regalos {	
  background: url("regalo4.jpg") no-repeat center center / cover;
}
.webp .regalos {
  background: url("regalo4.webp") no-repeat center center / cover;
}

.area {
	background: url("xBackground_Circle.jpg");
}

.iglesia {
    padding: 3vw;
	position: relative;
	height: 70vh;
	min-height: 300px;
}
.no-webp .iglesia {	
  background: url("iglesia.jpg") no-repeat center center / cover;
    background-position-y: bottom;
}
.webp .iglesia {
  background: url("iglesia.webp") no-repeat center center / cover;
    background-position-y: bottom;
}

.iglesia .overlay, .lidotel .overlay{
    left: 5%;
    width:90%;
	opacity: .5;
}

.iglesia .text, .lidotel .text{
	z-index: 1;
	position: relative;
	font-size: 5vw;
}

.lidotel {	
    padding: 3vw;
	position: relative;
	height: 70vh;
	min-height: 300px;
}
.no-webp .lidotel {	
  background: url("lidotel.jpg") no-repeat center center / cover;
}
.webp .lidotel {
  background: url("lidotel.webp") no-repeat center center / cover;
}

.marco {
	position: relative;
    padding: 70px 0;
	min-height: 80vh;
}
.marco:before {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
/*    content: '';*/
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 2;
    -webkit-transform: rotate(-0.5deg);
    -ms-transform: rotate(-0.5deg);
    transform: rotate(-0.5deg);
}
.marco:after {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    /*content: '';*/
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1;
    -webkit-transform: rotate(0.5deg);
    -ms-transform: rotate(0.5deg);
    transform: rotate(0.5deg);
}

@media (min-width: 1200px) {
  .marco:after, .marco:before{
	  content:' ';
  }
}
.map {
	position: relative;
	z-index: 5;
	width: 22vw;
}
.map a {
    color: #f67e7d;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
	text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
}
.map iframe {
    border: 0;
    width: 95%;
    min-height: 300px;
    height: 50vh;
}

.comoLlegar {
	background: url(comoLlegar.png) no-repeat center center /cover;
    height: 13vw;
    width: 20vw;
}
.map-frame{
	display: none;
}
@media (max-width: 479px) {
	.map a {
	    font-size: 1rem;
	}
}
@media (max-width: 379px) {
	.map a {
	    font-size: 0.8rem;
	}
}
@media (min-width: 900px) {
	.map {
		width: 18vw
	}
	.map a {
	    font-size: 1.6rem;
	}
	.comoLlegar {
		height: 11vw;
		width: 17vw;
	}
}
@media (min-width: 1200px) {
	.map {
		/*width: 15vw;*/
		width: auto;
	}
	.comoLlegar {
		height: 9vw;
		width: 14vw;
	}
	.map > a {
		display: none;
	}
	.map-frame{
		display: block;
	}
}

.invitados{
	font-size: 5vw;
	font-family: 'Great Vibes', cursive;
}

@media (max-width: 700px) {
	.invitados{
		font-size: 9vw;
	}
	.iglesia .text, .lidotel .text{
		font-size: 8vw;
	}
}
@media (min-width: 1200px) {
	.invitados{
		font-size: 4vw;
	}
  	.iglesia .text, .lidotel .text{
		font-size: 3vw;
	}
}

#confirmacion {
    width: 100%;
    height: 925px;
}

@media (min-width: 700px) {
#confirmacion {
    height: 825px;
}
}
.bottom-audio {
    bottom: 35px;
    opacity: .7;
    text-align: right;
}
#sound-bottom {
	height: 40px;
    width: 50px;
    border: 0;
    margin-right: 10vw;
}
#sound-bottom.mute-sound{	
    background: url(mute.png) no-repeat center center / contain;
}
#sound-bottom.play-sound{	
    background: url(sound.png) no-repeat center center / contain;
}
